<a href="https://colab.research.google.com/github/vishnubongoni/Hypothesis_Testing/blob/main/Hypothesis_Testing_Q4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import scipy.stats as stats

In [ ]:
data=pd.read_csv("Customer.csv")
data.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [ ]:
data.shape

(300, 4)

In [ ]:
data.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [ ]:
data.isnull().sum()

Phillippines    0
Indonesia       0
Malta           0
India           0
dtype: int64

Calculating Expected values and Observed values

In [ ]:
print(data['Phillippines'].value_counts(),"\n",data['Indonesia'].value_counts(),data['Malta'].value_counts(),data['India'].value_counts())

Error Free    271
Defective      29
Name: Phillippines, dtype: int64
 Error Free    267
Defective      33
Name: Indonesia, dtype: int64 Error Free    269
Defective      31
Name: Malta, dtype: int64 Error Free    280
Defective      20
Name: India, dtype: int64

In [ ]:
contingency_table=[[271,267,269,280],
                   [29,33,31,20]]

In [ ]:
contingency_table

[[271, 267, 269, 280], [29, 33, 31, 20]]

In [ ]:
stat,p,df,exp=stats.chi2_contingency(contingency_table)
print("Statistics: ",stat,"\n","p_value:",p,"\n","degree of freedom: ",df,"expected_values: ",exp)

Statistics:  3.858960685820355
 p_value: 0.2771020991233135
 degree of freedom:  3 expected_values:  [[271.75 271.75 271.75 271.75]
 [ 28.25  28.25  28.25  28.25]]

In [ ]:
observed_values=np.array([271,267,269,280,29,33,31,20])
expected_values=np.array([271.75,271.75,271.75,271.75,28.25,28.25,28.25,28.25])

Comparing with Hypothesis

In [ ]:
statistics,p_value=stats.chisquare(observed_values,expected_values,ddof=df)
print("statistics: ",statistics,"\n","p-value: ",p_value)

statistics:  3.858960685820355
 p-value:  0.4254298144535761

In [ ]:
significance_value=0.05
if p_value<=significance_value:
  print("We Reject Null Hypothesis because of the difference between the values")
else:
  print("We failed to Reject Null Hypothesis")

We failed to Reject Null Hypothesis